<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>募集詳細</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

</head>
<body>
<header th:replace="/match/menu :: menu" class="ui secondary  menu">
    <a class="item" href="/">
        TOP
    </a>
    <a class="item" href="/match/search">
        募集検索
    </a>
    <a class="item" href="/match/register">
        試合登録
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search..."/>
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item">
            Logout
        </a>
    </div>
</header>
<main class="ui raised very padded container segment">
    <h1>募集詳細</h1>

    <div class="ui grid form" th:object="${match}">
        <div class="field">
            <label>開始日</label>
            <span th:text="*{#temporals.format(date, 'yyyy/MM/dd')}">2017/12/31</span>
        </div>
        <div class="field">
            <label>開始時間</label>
            <span th:text="*{start}">0時</span>
        </div>
        <div class="field">
            <label>試合時間</label>
            <span th:text="*{time}">４時間</span>
        </div>
        <div class="field">
            <label>レベル</label>
            <span th:text="*{level}">LEVEL1</span>
        </div>
        <div class="field">
            <label>人数</label>
            <span th:text="| *{entryUserCount} / *{maxPlayers}|">15</span>
        </div>
        <div class="field">
            <label>場所</label>
            <span th:text="*{place}">尼崎</span>
        </div>
    </div>
    <div class="ui segment">
        <p><span th:text="*{remarks}">スタバ前集合</span></p>
    </div>
    <div class="ui segment">
        <div th:remove="all-but-first" class="ui five column grid">
            <div class="column" th:each="entryUser : ${entryUserList}">
                <div class="ui card">
                    <div class="image">
                        <img th:src="@{/images/unknown.jpg}" src="../../../static/images/steve.jpg" />
                    </div>
                    <div class="content">
                        <div class="header" th:text="${entryUser.entryUserName}">Steve Jobes</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src="../../../static/images/steve.jpg" />
                    </div>
                    <div class="content">
                        <div class="header">Steve Jobes</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src="../../../static/images/steve.jpg" />
                    </div>
                    <div class="content">
                        <div class="header">Steve Jobes</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src="../../../static/images/steve.jpg" />
                    </div>
                    <div class="content">
                        <div class="header">Steve Jobes</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src="../../../static/images/steve.jpg" />
                    </div>
                    <div class="content">
                        <div class="header">Steve Jobes</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src="../../../static/images/steve.jpg" />
                    </div>
                    <div class="content">
                        <div class="header">Steve Jobes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form th:object="${match}" th:action="@{/match/matching/__*{identifier}__}" method="GET">
        <div class="ui fluid action input" th:classappend="${hasError} ? 'field error'">
            <input type="text" name="userName" placeholder="名前を入力してください" />
            <button class="ui button" type="submit">応募する</button>
        </div>
        <div class="ui error message" th:if="${hasError}">
            <div class="header">入力エラー</div>
            <p>入力してください</p>
        </div>
    </form>
</main>
</body>
</html>
