<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>募集詳細</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

</head>
<body>
<header th:replace="/match/menu :: menu" class="ui secondary  menu">
    <a class="item" href="/">
        TOP
    </a>
    <a class="item" href="/match/search">
        募集検索
    </a>
    <a class="item" href="/match/register">
        試合登録
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search..."/>
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item">
            Logout
        </a>
    </div>
</header>
<main class="ui raised very padded container segment">
    <h1>募集詳細</h1>

    <hr/>

    <table>
        <thead>
        <tr>
            <th>参加者名</th>
        </tr>
        </thead>


        <tbody>
        <!--ここには一覧のIDにひもづく参加者が渡ってくるはず。登録されただけ繰り返すよー-->
        <tr th:each="entryUser : ${entryUserList}">
            <td><span th:text="${entryUser.entryUserName}">ハンドルネームとか懐かしい</span></td>
        </tr>
        </tbody>

    </table>

    <a href="/match/search">一覧に戻る</a>

    <form th:object="${match}" th:action="@{/match/matching/__*{identifier}__}" method="GET">
        <div>

            <table>
                <tbody>
                <!--ここは一覧画面から渡ってきた情報がそのまま入るよー-->
                <tr>
                    <th>ID</th>
                    <td><span th:text="*{identifier}"></span></td>
                </tr>
                <tr>
                    <th>開始日</th>
                    <td class="date"><span th:text="*{#temporals.format(date, 'yyyy/MM/dd')}"></span></td>
                </tr>
                <tr>
                    <th>開始時間</th>
                    <td><span th:text="*{start}"></span></td>
                </tr>
                <tr>
                    <th>試合時間</th>
                    <td><span th:text="*{time}"></span></td>
                </tr>
                <tr>
                    <th>レベル</th>
                    <td><span th:text="*{level}"></span></td>
                </tr>
                <tr>
                    <th>最大人数</th>
                    <td class="number"><span th:text="*{maxPlayers}"></span></td>
                </tr>
                <tr>
                    <th>場所</th>
                    <td><span th:text="*{place}"></span></td>
                </tr>
                </tbody>
            </table>

            <input type="text" class="" name="userName"/>
            <input type="submit" value="応募する"/>
        </div>
    </form>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="../../../static/images/steve.jpg">
                </div>
                <div class="content">
                    <div class="header">Steve Jobes</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="../../../static/images/steve.jpg">
                </div>
                <div class="content">
                    <div class="header">Steve Jobes</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="../../../static/images/steve.jpg">
                </div>
                <div class="content">
                    <div class="header">Steve Jobes</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="../../../static/images/steve.jpg">
                </div>
                <div class="content">
                    <div class="header">Steve Jobes</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
