<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:with="title='試合登録'">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body>
<header th:replace="/match/menu :: menu" class="ui secondary  menu">
    <a class="item" href="/">
        TOP
    </a>
    <a class="item" href="/match/search">
        募集検索
    </a>
    <a class="item" href="/match/register">
        試合登録
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search..."/>
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item">
            Logout
        </a>
    </div>
</header>

<main class="ui raised very padded container segment">
    <form class="ui form" method="post"
          th:object="${match}" th:action="@{/match/result}">
        <h4 class="ui dividing header">試合登録</h4>
        <div class="field">
            <label>場所</label>
            <div class="fields">
                <div class="twelve wide field" th:classappend="${#fields.hasErrors('place')} ? 'error'">
                    <input type="text" th:field="*{place}" placeholder="場所"/>
                    <div th:if="${#fields.hasErrors('place')}" class="ui basic red pointing prompt label transition visible"
                          th:errors="*{place}">Error</div>
                </div>
            </div>
        </div>
        <div class="two fields">
            <div class="twelve wide field" th:classappend="${#fields.hasErrors('date')} ? 'error'">
                <label>開始日</label>
                <input type="date" th:field="*{date}" placeholder="開始日"/>
                <div th:if="${#fields.hasErrors('date')}" class="ui basic red pointing prompt label transition visible"
                     th:errors="*{date}">Error</div>
            </div>
            <div class="twelve wide field" th:classappend="${#fields.hasErrors('start')} ? 'error'">
                <label>開始時間</label>
                <input type="text" th:field="*{start}" placeholder="開始時間"/>
                <div th:if="${#fields.hasErrors('start')}" class="ui basic red pointing prompt label transition visible"
                     th:errors="*{start}">Error</div>
            </div>
            <div class="twelve wide field" th:classappend="${#fields.hasErrors('time')} ? 'error'">
                <label>試合時間</label>
                <input type="text" th:field="*{time}" placeholder="試合時間"/>
                <div th:if="${#fields.hasErrors('time')}" class="ui basic red pointing prompt label transition visible"
                     th:errors="*{time}">Error</div>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>LEVEL</label>
                <select class="ui fluid dropdown" id="level" name="level">
                    <option th:each="level : ${levels}" th:value="${level.name()}"
                            th:selected="${level == match.level}" th:text="${level.name()}"></option>
                </select>
                <span th:if="${#fields.hasErrors('level')}" class="text-danger"
                      th:errors="*{level}">Error</span>
            </div>
            <div class="field" th:classappend="${#fields.hasErrors('maxPlayers')} ? 'error'">
                <label>最大人数</label>
                <input type="text" th:field="*{maxPlayers}" placeholder="最大人数"/>
                <div th:if="${#fields.hasErrors('maxPlayers')}" class="ui basic red pointing prompt label transition visible"
                     th:errors="*{maxPlayers}">Error</div>
            </div>
        </div>
            <div class="field">
                <label>備考</label>
                <textarea></textarea>
            </div>
        <button class="ui button" tabindex="0">登録</button>
    </form>
</main>
</body>
</html>
